<?xml version="1.0" ?>
<robot name="My epuck">
    <webots>
        <device reference="my_camera" type="Camera">
            <recognition/>
            <ros>
                <topicName>/robot_vision</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <!-- <device reference="inertial unit" type="InertialUnit">
            <ros>
                <topicName>/orientation</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device> -->
        <plugin type="webots_ros2_driver::Ros2IMU">
            <topicName>/imu</topicName>
            <alwaysOn>True</alwaysOn>

            <inertialUnitName>inertial unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin>
        <plugin type="my_robot_driver::MyRobotDriver" />
    </webots>
</robot>