<?xml version="1.0" ?>
<robot name="My epuck">
    <webots>
        <device reference="my_camera" type="Camera">
            <recognition/>
            <ros>
                <topicName>/robot_vision</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_robot_driver::MyRobotDriver" />
    </webots>
</robot>